[Unit]
Description=SkyAlert Bot - Command Handler
After=network.target

# Change ExecStart to the correct path for your venv and script
[Service]
Type=simple
ExecStart=/home/jaherron/code/python/.venv/bin/python /home/jaherron/code/python/skyalert/skyalert-cmds.py
Restart=always
RuntimeMaxSec=86400

[Install]
WantedBy=multi-user.target